---
extends: default

rules:
  # Disable line length warnings
  line-length: disable
  
  # Don't require document start markers (---) in every file
  document-start: disable
  
  # Allow empty values (common in config files)
  empty-values:
    forbid-in-block-mappings: false
    forbid-in-flow-mappings: false
  
  # Allow flexible indentation (don't enforce strict indentation)
  indentation: disable
  
  # Don't enforce truthy values (allow yes/no, on/off, etc.)
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']
  
  # Allow comments to start without space after #
  comments:
    min-spaces-from-content: 1
  
  # Allow trailing spaces
  trailing-spaces: disable
  
  # Don't require newline at end of file
  new-line-at-end-of-file: disable
